:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #0096FF;
  --darkplus-links: #ADD8E6;
  --darkplus-home-icon: url(https://i.ytimg.com/an/OchwtwlrLgs/9f94c34f-5752-4d04-87e4-d77a1b0f9080_mq.jpg?v=5e6d1395);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}

